.main-content {
    margin: 0 auto;
    font-size: 20vw;
    color: rgb(255, 255, 255);
    font-family: 'Amatic SC', cursive;
    text-align: center;
    transition: all 1000ms;
    animation: title 1000ms ease-in;
    @keyframes title {
        0% {
            opacity: 0;
            transform: scale(0);
            transform: translate(0,-500px);
        }
        100% {
            transform: translate(0,0);
            transform: scale(1);
            opacity: 1;
        }
    }
}