<section class="main">
  <div class="play" *ngIf="!played">
    <a (click)="play()">
      <h3>Open Your Card</h3>
    </a>
  </div>

  <div class="everything" *ngIf="played">

    <section class="top" *ngIf="!chills">
      <div class="main-content example-one" data-text="UNDERSTAND">
        UNDERSTAND</div>
      <div class="image-zak">
          <img class="" src="https://media0.giphy.com/media/oNmnuHQZuov6g/200w.webp" alt="">
      </div>
    </section>
    <section class="reveal" *ngIf="chills">
      <h2>HAPPY BIRTHDAY!!</h2>
      <div class="photo">
        <img src="../assets/ghostadventures1.jpg" alt="">
      </div>
      <div class="message">
        <h1>From the ghost adventures crew, and myself.</h1>
        <p>Hopefully your birthday is a great one!</p>
        <p class="signature">-Mike!</p>
      </div>
    </section>
    <section class="footer" *ngIf="!chills">
      <a (click)="chills = true">
        <h3>Do you feel chills?
          <i class="fas fa-arrow-right"></i>
        </h3>
      </a>


    </section>
  </div>

</section>
