.main-content {
    margin: 0 auto;
    font-size: 20vw;
    color: rgb(255, 255, 255);
    font-family: 'Amatic SC', cursive;
    text-align: center;
    transform: translate(0, -500px);
    transition: all .3ms;
    animation: title 200ms ease-in;
    @keyframes title {
        0% {
            transform: translate(0,-500px);
        }
        100% {
            transform: translate(0,0)
        }
    }
}